<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Squash</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 style="text-align: center;">Itersquash</h1>

        <p class="subtitle"><a href="https://www.sats.no/satselixia/treningssentre/oslo/spektrum-sats/" style="color: red;">SATS Spektrum</a> &mdash; onsdager kl. 17-18 &mdash; 2 baner</p>
        <p class="subtitle">Erru daff og keen på no sprell? - Bli med på squash da vel</p>
    </body>
</html>
---
